img[data-action="zoom"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
    position: relative;
    z-index: 666;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}